main{
    display: grid;
}grid-template-columns 33% 1fr;

.left{}
::background-color: ;
.left-image





.left-image{
    position:relative;
}
.left-image h2 {
    position: absolute;
    bottom: 0;
    left: 1rem;
}

